<template [ngIf]="hasContent">
  <p-panel header="Warenkorb">
    <p-dataList [value]="_cart._content" [paginator]="false" [rows]="5">
      <template let-item>
        <div class="ui-grid ui-grid-responsive ui-fluid decoratedBox">
          <div class="ui-grid-row">
            <div class="storeWindowSmall">
              <div class="ui-grid-col-3 centered">
                <img src="../images/book/{{item.image}}" id="imageBoxSmall">
              </div>
            </div>
            <div class="ui-grid-col-9">
              <div class="ui-grid ui-grid-responsive ui-fluid">
                <table class="width-80-prt">
                  <tr>
                    <td colspan="2" class="advertiseText_r20b">
                      Book {{item.name}}
                    </td>
                  </tr><tr>
                    <td colspan="2" class="advertiseText_g12b">
                      {{item.size}}
                    </td>
                  </tr><tr>
                    <td colspan="2" class="height20"></td>
                  </tr><tr>
                    <td>Anzahl: </td>
                    <td class="fontSize-18">
                      <button id="minibutton" type="button" 
                        (click)="removeItem(item)" 
                        icon="fa-trash-o" pButton></button>
                      <button id="minibutton" type="button" 
                        (click)="decreaseItemAmount(item)" 
                        icon="fa-arrow-down" pButton> </button>
                        {{item._amount}}
                      <button id="minibutton" type="button" 
                        (click)="increaseItemAmount(item)" 
                        icon="fa-arrow-up" pButton></button>
                    </td>
                  </tr><tr>
                    <td>Einzelpreis: </td>
                    <td class="rightaligned-w60">
                      {{item.price | currency}}
                    </td>
                  </tr><tr>
                    <td>
                      <b>Zwischensumme:</b>
                    </td>
                    <td class="rightaligned-w60">
                      <b>
                        {{item.subtotal.toFixed(2) | currency}}
                      </b>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </template>
    </p-dataList>
    <div id="dLeft" class="paddingTop-15">
      <button type="button" (click)="checkout()" 
        icon="fa-close" pButton label="Bestellung abschicken"></button>
    </div>
    <div id="dRight" class="rightAligned paddingTop-15">
      <b>
        Gesamtsumme: {{sumtotal.toFixed(2) | currency}}
      </b><br>
      <span class="fontSize-12">
        inkl. 7% MwSt & Lieferung
      </span>
    </div>
  </p-panel>
</template>
<template [ngIf]="!hasContent">
  <p-panel header="Warenkorb">
    <div class="height210"></div>
    <div class="centered height400">
      <b>Ihr Warenkorb ist noch leer!</b>
    </div>
  </p-panel>
</template>