<html>
  <head>
    <title>Book-Connection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
  </head>
  <body>
    <div class="height350"></div>
    <div class="container-fixed">
      <div id="mLeft">
        <p-menubar [model]="items" [style]="{'width':'680px'}">
        </p-menubar>
      </div>
      <template [ngIf]="isLoggedIn()">
        <div id="mRight">
          <button id="button" type="button" (click)="logout()" 
            icon="fa-sign-out" pButton label="Logout"></button>
        </div>
      </template>
      <template [ngIf]="!isLoggedIn()">
        <div id="mRight">
          <button id="button" type="button" (click)="login()" 
            icon="fa-sign-in" pButton label="Login"></button>
        </div>
      </template>
    </div>
    <div class="height50"></div>
    <div class="container-fixed">
      <div><router-outlet></router-outlet></div>
    </div>
  </body>
</html>