<p-panel header="Kauf abgeschlossen">
  <div class="height210"></div>
  <div class="centered height400">
    <b>Vielen Dank für Ihren Kauf!</b>
    <br><br>
    <small>
        Die bestellten Bücher werden Ihnen demnächst geliefert.
    </small>
  </div>
</p-panel>
