<div *ngIf="_bookDetail">
  <div id="dLeft" class="storeWindowLarge height400 storeWindowBorder">
    <div class="height50"></div>
    <div>
      <img src="../images/book/{{bookDetail.image}}">
    </div>
  </div>
  <div id="dRight">
    <div>
      <table>
        <tr>
          <td>
            <span class="advertiseText_r25">
              Book '{{bookDetail.name}}'
            </span>
          </td>
        </tr><tr>
          <td>
            <b>{{bookDetail.size}}</b>
            <br><br>
          </td>
        </tr><tr>
          <td>{{bookDetail.description}}
            <br><br><br>
          </td>
        </tr><tr>
          <td>
            <span class="advertiseText_r25">
              <b>Nur {{bookDetail.price}} €</b>
            </span>
          </td>
        </tr><tr>
          <td class="height75">
            Von dieser Book befinden sich {{currentAmount}} 
            Stück in Ihrem Warenkorb.
          </td>
        </tr><tr>
          <td>
            <button type="button" (click)="addToCart(bookDetail)" 
               icon="fa-check" pButton label="In den Warenkorb">
            </button>
            <button type="button" (click)="historyBack()"
               icon="fa-arrow-circle-left " pButton label="Zurück">
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>