<filter [model]="model" (doFilter)="getFilteredSelectionList()">
</filter>
  <p-dataGrid [value]="getBookList()" [columns]="3" 
    [paginator]="true" [rows]="9">
    <template let-book>
      <div class="padding-3">
        <p-panel [header]="book.name" [style]="{'text-align':'center'}">
          <div class="storeWindowLarge">
            <div id="whiteBox">
              <div id="box">
                <small> {{book.size}} </small>
                <br><b> {{book.price}} Euro</b></div>
              </div>
              <img class="cursor_hand" src="../images/book/{{book.image}}" 
                (click)="showDetails(book)">
              <div> {{book.price}} Euro</div>
              <hr class="ui-widget-content border-top-0">
          </div>
        </p-panel>
      </div>
    </template>
  </p-dataGrid>
 <p-messages [value]="msgs"></p-messages> 